<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Gens</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="container">
        <h1 class="head">New Gens</h1>
        <img class="banner" src="static/images/banner.png" alt="New Gens">
        <h2 class="sub_head">About New Gens</h2>
        <p class="about">
            Lorem ipsum dolor sit amet. Ex sunt magnam non facere nulla quo enim doloremque? Et laudantium voluptas est
            voluptatem nobis aut consequuntur quasi quo maiores omnis ea voluptates illum.
        </p>
        <p class="about">
            Aut saepe doloribus ad quod fugit sed asperiores vitae quo reprehenderit exercitationem aut enim numquam id
            necessitatibus dolore est autem aliquam. Vel quia quia ea excepturi rerum est corporis tempore.
        </p>
        <p class="about">
            Sed dolorem dolore aut galisum incidunt quo rerum animi ut ipsa obcaecati non numquam labore est omnis enim. Qui
            quia rerum qui vitae earum eum libero voluptatibus hic laborum quia. Non consequatur perferendis aut nihil voluptas
            sit accusantium optio At rerum atque. Ea sunt cupiditate aut natus voluptas hic minima consequuntur et quod minima
            At consectetur placeat 33 doloremque quia?
        </p>
        <h2 class="sub_head">Open Positions</h2>
        <p>TODO Show the jobs here</p>
        <div class="contact_btn">
            <button>Contact Us</button>
        </div>
    </div>
    <div>
        <footer class="footer">
            <p>Copyright 2023, New Gens</p>
        </footer>
    </div>
</body>
</html>